// partials/head.pug

head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    title= "Changing Dev Unicorn - Aoibhe Wilson"

    meta(
    name="description"
    content="Design, development, UX, project management, and more. I'm Aoibhe Wilson, at your service."
    )
    meta(
    name="viewport"
    content="width=device-width, initial-scale=1"
    )

    link(
    type="text/plain"
    rel="author"
    href="https://www.wilsons.io/humans.txt"
    )

    link(
    rel="apple-touch-icon"
    href="apple-touch-icon.png"
    )


    script(
        src="https://use.typekit.net/vzw6sce.js"
        async
    )
    script.
        try{
            Typekit.load({ async: true });
        }catch(e){};

    style
        include ../../css/critical.css
    
    link(
    rel="stylesheet"
    href="css/main.css"
    defer
    )

    link(
    rel="stylesheet"
    href="css/font-awesome.min.css"
    defer
    )
