//
   Created by Wilsons on 5/11/17.

doctype html
html.no-js(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")

        title= "Not found! Versed Dev Unicorn - Jason Wilson"

        meta(
            name="description"
            content="Design, development, UX, project management, and more. I'm Jason Wilson, at your service."
        )
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1"
        )

        link(
            rel="apple-touch-icon"
            href="apple-touch-icon.png"
        )

        link(
            rel="stylesheet"
            href="css/normalize.css"
        )

        link(
            rel="stylesheet"
            href="css/main.css"
        )

        link(
            rel="stylesheet"
            href="css/font-awesome.min.css"
        )

        script(src="js/vendor/modernizr-2.8.3.min.js")

    body
        <!--[if lt IE 8]>
            p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        <![endif]-->
        div#wrapper
            <!-- Offerings Section -->
            section#four-oh-four
                h1 Well that's not quite right...
                p.
                    Sorry, you seem to have tried to find a page that isn't here right now.
                p.
                    At the moment my portfolio is <i>usually</i> only one page. If that's what you're looking for, <a href="https://wilsons.io/">you can find it here</a>.

            footer
                h1 Can I do great things for you? Get in touch!
                p Jason Wilson: Jason@Wilsons.io <a href="https://github.com/sgiobairog" target="_blank">
                    | <span class="fa fa-github"></span></a><a href="https://twitter.com/WilsonUponSea" target="_blank">
                    | <span class="fa fa-twitter"></span></a> <a href="https://www.linkedin.com/in/jasonpaulwilson/" target="_blank">
                    | <span class="fa fa-linkedin"></span></a> <a href="https://www.facebook.com/wilsons.upon.web/" target="_blank">
                    | <span class="fa fa-facebook"></span></a> <a href="https://medium.com/@Wilsons.io" target="_blank">
                    | <span class="fa fa-medium"></span></a>
                a.button.t2(href="mailto:jason@wilsons.io") Email me

            section#endcap
                p Now, let me just check the logs and see if I've misplaced something...
        script(src="js/plugins.js")
        script(src="js/main.js")


        script.
          (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
            a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src   = g;
            m.parentNode.insertBefore(a, m)
          })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

          ga('create', 'UA-99023238-1', 'wilsons.io');
          ga('send', 'pageview');